[submodule "aasdk"]
	path = aasdk
	url = https://github.com/rsjudka/aasdk.git
	branch = develop
[submodule "openauto"]
	path = openauto
	url = https://github.com/rsjudka/openauto.git
	branch = develop
