language: cpp
sudo: required
compiler:
 - clang
os:
 - linux
dist: bionic

addons:
  apt:
    packages:
      - libxkbcommon-x11-0
      - libgl1-mesa-dev

services: 
  - xvfb

env:
  - QT_CI_PACKAGES=qt.qt5.5132.gcc_64,qt.qt5.5132.qtwebengine PATH="$TRAVIS_BUILD_DIR/Qt/5.13.2/gcc_64/bin:${PATH}"

script:
  - git clone https://github.com/benlau/qtci.git
  - source qtci/path.env
  - install-qt 5.13.2
  - ./install.sh
